<h3><%= @post.title %></h3> 
<blockquote><%= @post.body %></blockquote> 
<cite>~<%= @post.author %></cite> 
<h6>Created on <%= @post.created_at.strftime("%b %d, %Y") %></h6>


<%= link_to "Edit", edit_post_path(@post), :class => "btn btn-warning btn-xs"%> |

<%= link_to "Delete", post_path(@post), 
                      :data => {:confirm => "Are you absolutely sure? This action can not be undone.", 
                      :method => "delete"},      
                      :class => "btn btn-danger btn-xs"%>

<br />

<% if @post.comments.any? %>
<h4>Here are the comments for this post:</h4>
  <% @post.comments.each do |comment| %>
    <ol id="comments">
     <%= render comment %>
    </ol>
  <% end %>
<% else %>
  <h6 style="color: grey;"><em>There are no comments for this post, yet.</em></h6>
<% end %>

<br />

<br />
<p><%= link_to "Add Comment", new_post_comment_path(@post, @comment), id: "new_comment_link", remote: true, :class => 'btn btn-success btn-sm' %> </p>


<br />
<p><%= link_to "Back", root_path, :class => 'btn btn-default btn-xs' %></p>






