<!DOCTYPE html>
<html>
<head>
  <title>Blogster</title>
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap_lumin.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="app/assets/stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Righteous|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
