<!DOCTYPE html>
<html>
<head>
  <title>Blogster</title>
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap_lumin.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="app/assets/stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Righteous|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="/">Blogster</a>
      </ul>

      <ul class="nav navbar-nav navbar pull-right">
        <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li> <%= link_to "Sign up", new_user_registration_path %> </li>
        <li> <%= link_to "Sign in", new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav>

    <% if user_signed_in? %>
    <p class="right-align">Logged in as <%= current_user.email %></p>
    <% end %>


    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </div>

</body>
</html>
